body
  background black
  .main-container
    max-width 600px
    margin 0 auto
    background white
    position relative
    overflow hidden
.emoji-form
  display flex
  align-items center
  justify-content center
  height 100vh
  width 100%
  opacity 0.5
  transition: all 0.4s ease-in
  padding 5%
  .emoji
    display inline-block
    img
      max-width 100%
  &.visible
    opacity 1
    cursor pointer

 @keyframes fadeOut {
    0% {opacity: 1; transform:translateY(0px)}
    100% {opacity: 0;transform:translateY(-70vh)}
 }

.emoji-effect
  position absolute
  bottom 0
  width 100%
  .emoji-row
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transform:translateY(128px)
    .emoji
      display: block;
      flex-shrink: 0; /* and here! */
      max-width 70px
      img
        max-width 100%
      &.active
        animation-name fadeOut
        animation-iteration-count 1
        animation-fill-mode: forwards
        transition: all 0.3s ease-in
