body {
  background: #000;
}
body .main-container {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  position: relative;
  overflow: hidden;
}
.emoji-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0.5;
  transition: all 0.4s ease-in;
  padding: 5%;
}
.emoji-form .emoji {
  display: inline-block;
}
.emoji-form .emoji img {
  max-width: 100%;
}
.emoji-form.visible {
  opacity: 1;
  cursor: pointer;
}
.emoji-effect {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.emoji-effect .emoji-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(128px);
}
.emoji-effect .emoji {
  display: block;
  flex-shrink: 0; /* and here! */
  max-width: 70px;
}
.emoji-effect .emoji img {
  max-width: 100%;
}
.emoji-effect .emoji.active {
  animation-name: fadeOut;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: all 0.3s ease-in;
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-70vh);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-70vh);
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-70vh);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-70vh);
  }
}
